<% hackathon = Hackathon.find_by_id(session[:hackathon_id]) %>
<% teams = hackathon.teams %>
<% teams.each_with_index do |t, index| %>

<div class="col-md-6">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Team <%=index + 1%></h3>
    </div>
    <div class="panel-body" style="min-height: 150px;">
      <% t.users.each do |u|%>
        <div class="row">
          <div class="col-md-4">Name: <%= u.name %></div>
          <div class="col-md-4">Email: <%= u.email %></div>
          <div class="col-md-4">Skills: <% u.skills.each do |skill| %>
            <%= skill.name %>
          <% end %></div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<% end %>
