<% if current_user.present? %>
<h1> Create New Hackathon </h1>
<%= render "hackathon_form" %>
<% else %>
  <div class="jumbotron center">
    <h1>hackaformr</h1>
    <h3>Are you a Hackathon...</h3>
    <a href="<%=new_user_registration_path%>" class="btn btn-primary">Organizer</a>
    <a href="<%=new_participant_registration_path%>" class="btn btn-primary">Participant</a>
  </div>
<% end %>
