<h1>hackathons</h1>

<%= link_to "Create a New Hackathon", :action => :new %>

<table class="table table-striped table-bordered">
 <thead>
   <tr>
     <th><h3> Name </h3></th>
     <th><h3> Date </h3></th>
     <th><h3> Delete </h3></th>
   </tr>
 </thead>
<% @hackathons.each do |hackathon| %>
 <tbody>
   <tr>
     <td><h4><%= link_to hackathon.name, :action => :show, :id => hackathon.id %></h4></td>
     <td><h4><%= hackathon.start_date %></h4></td>
     <td><a class="btn btn-danger" src= <%= link_to "Delete", hackathon_path(hackathon), method: "delete", data:{confirm: "Are you sure you want to delete this hackathon?"} %></a></td>
  </tr>
</tbody>
 <% end  %>
</table>
